# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [ ]:

import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [ ]:
# a = 

a = pd.Series([ 100, 200, 300, 400])

Print a, and data type

In [ ]:

print(a)
print(type(a))

0    100
1    200
2    300
3    400
dtype: int64
<class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [ ]:
a[2]

300

What are the values of index for series a?

In [ ]:

a.index.values

array([0, 1, 2, 3])

Change the index to  ['c', 'a', 'b', 'd']

In [ ]:

a.index = ["c","a","b","d"]

a

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [ ]:

a["d"]

400

Sort the values wrt to the index and print it

In [ ]:
a.sort_index(inplace =  True)
a

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [ ]:
# b = 

b = pd.Series([800, 450, 100], index = ["e", "f", "g"])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [ ]:
# a =
a = a.append(b)
print(a)

a    200
b    300
c    100
d    400
e    800
f    450
g    100
dtype: int64

<ipython-input-12-4b69df4d52c2>:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a = a.append(b)

In [ ]:
#print a again after appending b into it


print(a)

a    200
b    300
c    100
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [ ]:
# a = 
a = a.sort_values(ascending=False)

In [ ]:

print(a)

e    800
f    450
d    400
b    300
a    200
c    100
g    100
dtype: int64

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [ ]:
# df = 

df = pd.DataFrame(a)
df.head()

     0
e  800
f  450
d  400
b  300
a  200

In [ ]:
df

     0
e  800
f  450
d  400
b  300
a  200
c  100
g  100

What is the shape of the datafarme <br>
(also, what does it imply?)

In [ ]:
df.shape

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [ ]:
# yep its same as the series.

df.index

Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [ ]:
df.head() # This fucton returns the top row of that dataframe default is 5

     0
e  800
f  450
d  400
b  300
a  200

In [ ]:
df.tail() # This fucton returns the bottom row of that dataframe default is 5

     0
d  400
b  300
a  200
c  100
g  100

Rename the column of the dataframe as 'points'

In [ ]:
df.rename(columns  = {0:"points"}, inplace =True)
df.head()

   points
e     800
f     450
d     400
b     300
a     200

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [ ]:
#Create fruits array

# fruits =

fruits = np.array(["orange","apple","mango", "apple", "mango", "orange", "apple"])
print(fruits)

['orange' 'apple' 'mango' 'apple' 'mango' 'orange' 'apple']

In [ ]:
#Create series fruits out of fruits array

# fruits =
fruits = pd.Series(fruits)
print(fruits)

0    orange
1     apple
2     mango
3     apple
4     mango
5    orange
6     apple
dtype: object

Change the index of fruits to the index of dataframe df

In [ ]:


df.set_index(fruits, inplace = True)
print(df)

        points
orange     800
apple      450
mango      400
apple      300
mango      200
orange     100
apple      100

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [ ]:
df.reset_index(inplace =True)
df.rename(columns = {"index":"fruits"}, inplace = True)
df.drop(columns="level_0",  inplace = True)

In [ ]:

df

   fruits  points
0  orange     800
1   apple     450
2   mango     400
3   apple     300
4   mango     200
5  orange     100
6   apple     100

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [ ]:
# d1 = 

d1 = pd.DataFrame({"city":["Chandigarh","Delhi","Kanpur","Chennai","Manali"],
                   "Temperature":[15,22,20,26,-2]})
d1.head()

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

Print(d1)

In [ ]:

print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [ ]:
d1.shape

(5, 2)

Set city = d1['city']

In [ ]:

city = d1["city"]

print city <br>
What is the type of city.

In [ ]:
print(city)
print(type(city))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [ ]:
# d2 = 

d2 = pd.DataFrame({"city":["Bengalaru","Coimbatore","Srirangam","Pondicherry"],
                   "Temperature":[24,35,36,39]})
d2

          city  Temperature
0    Bengalaru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

print the shape of this dataframe

In [ ]:
d2.shape

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [ ]:
# d3 = 

d3 = d1.merge(d2, how = "outer")
d3

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengalaru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [ ]:


d3[d3["Temperature"] <= 20]

         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [ ]:

d3[d3["Temperature"] >= 35]

          city  Temperature
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [ ]:
# write function here

# def is_ut(x):
    
#     # write code below

def is_ut(x):
  if x in ["Chandigarh", "Pondicherry", "Delhi"]:
    return True
  else:
    return False 
    
# d3['is_ut'] =

d3['is_ut'] = d3["city"].apply(is_ut)

In [ ]:
# print d3
d3

          city  Temperature  is_ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
5    Bengalaru           24  False
6   Coimbatore           35  False
7    Srirangam           36  False
8  Pondicherry           39   True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [ ]:
# write function here

def c_to_f(x):
  return  (x * (9/5)) + 32

d3

          city  Temperature  is_ut  temp_in_fehr
0   Chandigarh           15   True          59.0
1        Delhi           22   True          71.6
2       Kanpur           20  False          68.0
3      Chennai           26  False          78.8
4       Manali           -2  False          28.4
5    Bengalaru           24  False          75.2
6   Coimbatore           35  False          95.0
7    Srirangam           36  False          96.8
8  Pondicherry           39   True         102.2

In [ ]:
# check function c_to_f(10)
c_to_f(10)

50.0

In [ ]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'

d3['temp_farenhiet'] = d3["Temperature"].apply(c_to_f)
d3

          city  Temperature  is_ut  temp_farenhiet
0   Chandigarh           15   True            59.0
1        Delhi           22   True            71.6
2       Kanpur           20  False            68.0
3      Chennai           26  False            78.8
4       Manali           -2  False            28.4
5    Bengalaru           24  False            75.2
6   Coimbatore           35  False            95.0
7    Srirangam           36  False            96.8
8  Pondicherry           39   True           102.2

In [ ]:
d3.head()

         city  Temperature  is_ut  temp_farenhiet
0  Chandigarh           15   True            59.0
1       Delhi           22   True            71.6
2      Kanpur           20  False            68.0
3     Chennai           26  False            78.8
4      Manali           -2  False            28.4

## Indexing and selecting rows in DataFrame

In [ ]:
d1

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [ ]:

d1["is_ut"] = d1["city"].map(is_ut)
d1[d1["is_ut"] == True]

         city  Temperature  is_ut
0  Chandigarh           15   True
1       Delhi           22   True

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [ ]:
d1["temp_fehr"] = d1["Temperature"].map(c_to_f)
d1[d1["temp_fehr"] > 90 ]

Empty DataFrame
Columns: [city, Temperature, is_ut, temp_fehr]
Index: []

Select only the first three rows of the dataframe d1.

In [ ]:
d1.head(3)

         city  Temperature  is_ut  temp_fehr
0  Chandigarh           15   True       59.0
1       Delhi           22   True       71.6
2      Kanpur           20  False       68.0

Select all the rows and last two columns in the dataframe.

In [ ]:
d1.iloc[::,2::]

   is_ut  temp_fehr
0   True       59.0
1   True       71.6
2  False       68.0
3  False       78.8
4  False       28.4

## Groupby

In [3]:
# Create a dataframe using dictionary of your choice

# data = 
import pandas as pd
data = pd.DataFrame({"name":["suresh","kamlesh","dinesh","somesh","yash"],"age":[20,21,20,23,21],"place":["mp","up","mh","mp","up"]})
data

      name  age place
0   suresh   20    mp
1  kamlesh   21    up
2   dinesh   20    mh
3   somesh   23    mp
4     yash   21    up

In [9]:
# Use Groupby of single column with aggregate sum()

data.groupby(["place"])["age"].sum()

place
mh    20
mp    43
up    42
Name: age, dtype: int64

In [10]:
# Use Groupby of single column with aggregate count()
data.groupby(["age"])["place"].count()

age
20    2
21    2
23    1
Name: place, dtype: int64

In [14]:
# Use Groupby of single column with aggregate min() and max()

print(data.groupby(["place"])["age"].min())
print(data.groupby(["place"])["age"].max())

place
mh    20
mp    20
up    21
Name: age, dtype: int64
place
mh    20
mp    23
up    21
Name: age, dtype: int64

In [16]:
# Use Groupby of any 2 columns with aggregate mean()

data.groupby(["place","age"]).mean()

<ipython-input-16-90cfbb4a5c07>:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  data.groupby(["place","age"]).mean()

Empty DataFrame
Columns: []
Index: [(mh, 20), (mp, 20), (mp, 23), (up, 21)]

In [17]:
# Use Groupby of any 2 columns with aggregate min() and max()

data.groupby(["place","age"]).min()
data.groupby(["place","age"]).max()

             name
place age
mh    20   dinesh
mp    20   suresh
      23   somesh
up    21     yash

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [18]:
# a = 
a = pd.date_range(start='1/1/2020', end='1/04/2021')

print a

In [19]:

print(a)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31', '2021-01-01', '2021-01-02',
               '2021-01-03', '2021-01-04'],
              dtype='datetime64[ns]', length=370, freq='D')

What is the len of a?

In [20]:

print(len(a))

370

What is the type of a?

In [21]:

print(type(a))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>